@import 'variables';
@import 'fonts';

.main-landing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0;

    &__img {
        height: 644px;
        width: 580px;
    }

    &__title {
        width: 462px;
        height: 231px;
        margin-bottom: 30px;
    }

    &__text {
        width: 462px;
        height: 90px;
        margin-bottom: 50px;
    }

    &__buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .landing-buttons {
        &__GS {
            margin-right: 40px;
            border-radius: $border-radius;
            background: $blueColor;
            width: 211px;
            height: 60px;

            &:hover {
                transform: $default-transition;
                background: #6f0ece;
            }
        }

        &__arrow {
            width: 60px;
            height: 60px;
            background: $white;
            border: 1px solid #E7E7E7;
            border-radius: 60px;

            &:hover {
                border: 2px solid $primaryText;
            }
        }
    }
}