@import "variables";

@mixin fonts() {
  &__title {
    font-family: DMSans;
    color: $primaryText;
  }

  &__text {
    font-family: Mulish;
    color: $secondaryText;
  }

  &__description {
    font-family: DMSans;
    color: $secondaryText;
  }
}

@mixin font-size($fontSize, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;

  h1 {
    @include max-width(760) {
      font-size: $fontSize * 0.85;
      line-height: $lineHeight * 0.85;
    }

    @include max-width(600) {
      font-size: $fontSize * 0.7;
      line-height: $lineHeight * 0.7;
    }
  }

  h2 {
    @include max-width(760) {
      font-size: $fontSize * 0.85;
      line-height: $lineHeight * 0.85;
    }

    @include max-width(600) {
      font-size: $fontSize * 0.7;
      line-height: $lineHeight * 0.7;
    }
  }

  &__text {
    @include max-width(600) {
      font-size: $fontSize * 0.8;
      line-height: $lineHeight * 0.8;
    }
  }
}

@mixin font-text-button() {
  &__primary {
    font-family: DMSans;
    color: $whitePrimaryText;
    font-size: 17px;
  }

  &__btn {
    font-family: DMSans;
    color: $blueColor;
    font-size: 17px;
  }

  &__radio-btn {
    font-family: DMSans;
  }
}

@mixin max-width($resolution) {
  @media screen and (max-width: #{$resolution}px) {
    @content;
  }
}
