$white: #fff;
$primary-text: #19191b;
$secondary-text: #696871;
$white-primary-text: $white;
$white-secondary-text: rgb(255 255 255 / 70%);
$blue-color: #5454d4;
$primary: #f8f8f8;
$accent-hover: #ff7143;
$accent-hover-button: #9f3919;
$border-radius: 10px;
$default-transition: all ease 0.7s;

@font-face {
  font-family: Mulish;
  src: url("../../fonts/Mulish/Mulish-VariableFont_wght.ttf");
}

@font-face {
  font-family: DMSans;
  src: url("../../fonts/DM_Sans/DMSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
